[2015-11-22 18:40] cristianoliveira opened #1 "refact: Sort each list alphabetically"

[2015-11-24 15:46] cristianoliveira commented on #1
Done in @EduardoLopes Pull Request (#4)

[2015-11-24 15:46] #1 closed

[2015-11-26 02:30] cristianoliveira opened #5 "general: add Bay area Girls"
Need a description.
http://bayareagirlgeekdinners.com/about/

[2015-11-26 02:42] cristianoliveira opened #6 "Suggestions"
If you have suggestions wich you would like to see in the list, but you does not want to include it yourself. Please comment here and it will be reviewed and added. :D

[2015-11-29 23:21] cristianoliveira opened #8 "others: Add PrograMaria."
http://www.programaria.org/

[2015-11-30 00:51] cristianoliveira opened #9 "create category for hackbrightacademy"
https://hackbrightacademy.com/

[2015-12-01 03:19] cristianoliveira opened #10 "general: add the follow list of initiatives"
- [x] http://www.chicaspoderosas.org/
- [x] http://marialab.com.br/
- [x] http://minasprogramam.com/

[2015-12-01 03:20] cristianoliveira commented on #8
Done in 85fff26b3529d09e53398898c95da19a4cfbc6af

[2015-12-01 03:20] #8 closed

[2015-12-09 11:44] cristianoliveira opened #13 "general: add globalfundforwomen"
http://ignite.globalfundforwomen.org/about
Create a good  description to Ignite International Girls Hackathon

[2015-12-11 09:48] pizzamaker opened #14 "Add a free license"
I suggest CC BY-SA :)

[2015-12-11 09:49] pizzamaker commented on #14
Nevermind, I just saw the actual license!

[2015-12-11 09:49] #14 closed

[2015-12-11 12:03] cristianoliveira commented on #14
Hello @pizzamaker. No worries... Thanks anyway. :)

[2015-12-11 12:05] cristianoliveira commented on #14
I think what can be improved is to add a LICENCE file.

[2015-12-11 12:09] cristianoliveira opened #15 "licence: Add licence file and move the licence badge to header."
Some improves about licence (from #14)

* [x] Add file
* [ ] Move badge

[2015-12-13 01:16] cristianoliveira commented on #15
e00be33cf2576f4f12d159c1c1fdd358b50a7315

[2015-12-13 01:26] cristianoliveira opened #17 "others: add reference for others awesome lists for girls"
Verify how is the best way to add references for others lists like:
https://github.com/apdaros/tech-gender-gap

[2015-12-13 01:50] cristianoliveira opened #18 "search: Some initiative in Microsoft Community."
I think they have some initiatives... I still didn't found. :(
- C# /.NET communities
- Microsoft Initiatives
- Etc.

[2015-12-13 01:57] cristianoliveira opened #19 "general: add madewithcode"
Need a good description for madewithcode they about section does not say his pourpose.
https://www.madewithcode.com/

[2015-12-13 02:19] cristianoliveira opened #20 "search: Initiatives in the Oracle community."
Search for initiatives from Oracle.

[2015-12-13 05:02] cristianoliveira commented on #18
d290378793cc627542008a679a1cdd07139706f7

[2016-01-09 02:29] #13 closed

[2016-01-09 02:30] cristianoliveira commented on #15
Will not be done for now.

[2016-01-09 02:30] #15 closed

[2016-01-16 23:49] cristianoliveira opened #21 "add: shesharp"
Create a sumary for http://www.shesharp.org/

[2016-01-17 16:57] #21 closed

[2016-01-18 00:24] cristianoliveira commented on #9
This project currently is presented under General. I think there is no reason for a specific Topic.

[2016-01-18 00:24] #9 closed

[2016-02-23 15:58] SylvainDe opened #23 "general: add ICWES/INWES"
I'll have to gather some additional information about it asap.

[2016-02-23 23:10] cristianoliveira commented on #23
Hi @SylvainDe
Thanks for this suggestion. I will take a look. :)

[2016-02-24 19:22] KubaKaszycki opened #24 "Stop adding famous developers to this repo collaborators!"
I have seen such pop-up on main page:
![zrzut ekranu 2016-02-24 o 20 21 15](https://cloud.githubusercontent.com/assets/15962707/13297773/4680752c-db34-11e5-93f0-b7db503d5040.png)
Linus Torvalds is a **male**, I think he's not interested in this repo. Please, don't do bad **DOUBLE**!

[2016-02-25 00:27] #24 closed

[2016-02-25 00:29] cristianoliveira commented on #24
Sorry, was a typo. I've already fixed. I've sent a email to github to fix it.

[2016-02-25 00:43] cristianoliveira commented on #23
@SylvainDe I've added swe in the list. Please, feel free to review. :D

[2016-02-25 00:56] cristianoliveira commented on #19
Added same description as Wikipedia.

[2016-02-25 00:56] #19 closed

[2016-02-25 00:57] cristianoliveira commented on #18
I've added all initiatives where Microsoft works directly.

[2016-02-25 00:57] #18 closed

[2016-02-25 01:43] andviera commented on #24
It is a gap on github I think. You can add anyone then this things happens.

[2016-02-25 14:36] cristianoliveira opened #27 "general: add mothership.hackermoms"
- Create description.

[2016-02-25 14:39] cristianoliveira opened #28 "general: add rodadahacker.org"
- Create a description

[2016-02-27 20:28] cristianoliveira opened #29 "groups: add fedora women project"
https://fedoraproject.org/wiki/Women

[2016-02-27 20:30] cristianoliveira opened #30 "chore: create a Linux sub-group"
I noticed that there are many projects in Linux community. That is why I think it deserves its own group.

[2016-03-12 03:34] #29 closed

[2016-03-13 16:23] #23 closed

[2016-04-15 14:42] cristianoliveira opened #33 "feat: site to expose the list"
Create a simple site to share this data and maybe the events dates.

[2016-05-27 01:42] cristianoliveira opened #37 "site: list of next events."

[2016-08-30 21:24] littlejuh opened #38 "General: add bytegirl.com.br"
- Add bytegirl.com.br in general list
- Translate a description from pt to en:
 "Byte Girl é um evento sem fins lucrativos, organizado por uma equipe de voluntários com foco no público feminino que curte e trabalha com tecnologia, pois visa a capacitação e empoderamento das mulheres, porém, o evento é aberto a qualquer pessoa. Estamos indo para nossa segunda edição."

[2016-08-31 23:09] cristianoliveira commented on #38
Thanks @littlejuh ! I am going to add it as soon as I can :)

[2016-08-31 23:25] cristianoliveira commented on #38
@littlejuh please take a look.

[2016-08-31 23:47] littlejuh commented on #38
@cristianoliveira Maybe would be better change this part:
"by volunteers focused on female public that likes and work in tech." for "by volunteers focused on female public who likes tech."
What you think? :)

[2016-09-01 00:07] cristianoliveira commented on #38
Consider it done 😄

[2016-09-27 10:17] server-monitor opened #40 "typos: minor corrections"

[2016-09-27 10:19] #40 closed

[2016-10-09 16:19] cristianoliveira opened #44 "general: add anitas.com.br"

[2016-12-04 18:16] cristianoliveira opened #45 "general: add league women coders"
http://lwc.tech/about/

[2016-12-04 22:01] cristianoliveira commented on #33
First step is done: https://github.com/cristianoliveira/awesome4girls-api

[2016-12-04 22:01] cristianoliveira commented on #30
done in #46

[2016-12-04 22:01] #30 closed

[2016-12-06 01:09] #45 closed

[2017-09-04 12:12] emersion opened #48 "general: add Girls Can Code"
See https://gcc.prologin.org/

cc @jilljenn

[2017-09-10 13:32] cristianoliveira commented on #48
Added to the list. Thank you for sharing :dancing_women:

[2017-09-10 13:32] #48 closed

[2017-09-10 15:32] jilljenn commented on #48
« internishp » 😮

[2017-09-10 15:42] cristianoliveira commented on #48
Oooops my bad. Now is better :)

[2017-09-14 06:56] elle opened #49 "Add: Write Speak Code"
Visibility and Leadership for Women Software Developers

Website: http://www.writespeakcode.com

[2017-09-14 06:59] elle opened #50 "Add: Ela Conf"
Website: http://elaconf.com

A safe, inclusive tech leadership conference and community for adult (18+) women (cis and trans), trans men, and genderqueer people to connect with and empower one another.

[2017-09-26 08:44] #50 closed

[2017-09-26 08:45] cristianoliveira commented on #50
Thanks for your contribution :D

I just added it to the list :)

[2017-09-29 06:01] elle opened #51 "Ada Camp"
A  two-day unconference run by the Ada Initiative and dedicated to increasing women’s participation in open technology and culture
https://adacamp.org

[2017-10-01 04:25] harsh183 commented on #51
Is this an issue?

[2017-10-01 07:09] cristianoliveira commented on #51
Hey @harsh183 yeah it is an "issue". Actually, the task here is pretty simple we need to find the best description for `https://adacamp.org` project (@elle has already done this for us) and look at the list to figure out where it fits best. I would say under "Intiatives/Programs" > "Academy/Camp"

Feel free to ask anything regarding the task :)

[2017-10-01 12:00] harsh183 commented on #51
Sounds great, can I see @elle 's description?

I'd say  "Intiatives/Programs" > "Academy/Camp" looks pretty good.

Need me to do anything?

[2017-10-02 01:42] jcserracampos commented on #44
Can I take this?

[2017-10-02 07:15] cristianoliveira commented on #44
Hallo @jcserracampos
Sure, go for it! :)

[2017-10-02 09:25] cristianoliveira commented on #51
Hey @harsh183 Basically we need to add this project/event/camp to `Readme` in the correct section. You can take a look at the other to take as an example.

[2017-10-03 13:31] harsh183 commented on #51
Okay, I did some looking up. I don't think we should add AdaCamp since it's no longer held since 2015, and the organizers are not planning new ones.

They've mostly released their materials which they used for their own unconferences for others to use in form of the AdaCamp toolkit. It's high-quality material, and I think we can add a mention of the Ada Camp under a section like 'Resources for sta

[2017-10-03 13:56] harsh183 opened #53 "Minor: Improve League of Women coders description"
[code]
Now, this description seems very different from the rest, it directly addresses the audience and uses more emotive language than usual as compared to the rest of the list, maybe rewrite or improve it?

[2017-10-03 14:00] harsh183 opened #54 "Minor: Improve DigiGirlz Day description"
[code]
I think the first sentence is more marketing and does not really add anything. I think this can be rewritten to maybe mention some of the locations ('Microsoft locations worldwide'), and maybe a little more detail about what the program includes if possible.

[2017-10-03 14:27] cristianoliveira commented on #51
That actually is a good point.

Or maybe under "Other initiatives > Content" ? https://github.com/cristianoliveira/awesome4girls#content

[2017-10-03 14:30] harsh183 commented on #5
Company sponsored dinners in the San Francisco Bay Area which invite women from various areas of technology to share their experiences, alongside prominent speakers from the female tech community, networking and potential recruiting by the sponsoring company. It has been hosted by 100+ companies and has several events per month.

[2017-10-03 14:45] cristianoliveira opened #56 "Hacktoberfest: Fix typos"
Hello, fellow Hacktoberfest contributor!

I am opening this issue, especially for the Hacktoberfest. I am not a native English speaker and I am too used to read the list that I can't see all typos that it may have.

So I invite you to take a look at the list and if you find out either a typo or a weird sentence please feel free to point it out and open a PR with a fix for it. 😄

@harsh183 has alre

[2017-10-03 15:05] cristianoliveira commented on #54
Agreed!

[2017-10-03 16:02] harsh183 commented on #56
I'll probably take a much closer look at the entire listing again, and ask a few friends two. This is something that works better with many people on it.

So steps for typos (maybe we should write a small guide in the contributing file?)
1. Find typo(s)
2. [Optional if you are fixing it yourself] Create an issue on GitHub
3. Fix typo(s) in your fork of the project
4. Create a commit with the file

[2017-10-03 16:14] harsh183 commented on #53
Hmm... I think we should slightly touch up descriptions before putting them up to have more information, and be less emotive.

[2017-10-03 16:19] harsh183 commented on #51
I don't think it will fit well in there. I say we create a new section on the lines of  'Resources for starting your own conferences'.

[2017-10-03 16:20] harsh183 commented on #33
Is a site needed? Can we just add the dates onto a google calendar or excel sheet online? I think having a website will be too overkill.

[2017-10-03 16:21] harsh183 commented on #5
@cristianoliveira Look okay?

[2017-10-03 17:08] harsh183 commented on #17
I say, just put it right at the top. The title should be something like, 'Other lists'

[2017-10-03 18:50] agonzalez0515 commented on #56
Hi! I can help with this if there are any more things to review  :raising_hand_woman:

[2017-10-03 19:55] cristianoliveira commented on #56
Hey @agonzalez0515 actually we are not splitting tasks for it feel free to look around and if you notice anything strange open a PR :)

[2017-10-03 19:57] cristianoliveira commented on #53
I agree. Feel free to suggest a new description for that and create a PR with the change :)

[2017-10-03 20:10] cristianoliveira commented on #51
I think wouldn't be a problem having a new section. Let see if it has more projects to fill in.

[2017-10-03 20:59] trouta23 commented on #54
Hey there, is this still available to be picked up? If so I'd be happy to work on it.

[2017-10-04 03:46] harsh183 commented on #54
Go for it

[2017-10-04 03:47] harsh183 commented on #51
Sure, let's look around for a bit, though it's fine if we don't find anything else and the section only has one item.

[2017-10-04 04:43] harsh183 commented on #53
League of Women Coders (formerly Ladies Who Code, est. June 2011) is a grassroots collective that focuses on coding, hacking, and learning collaboratively. The group meets up at least once a month in New York City and Boston.

The meetups involve casual 5-minute lightning talks, asking technical questions, and tossing around ideas. It has a strong networking element, and there is a large emphasis

[2017-10-04 04:44] harsh183 commented on #56
@agonzalez0515 Well, I think you can definitely go over the list and fix some grammar/typos. And go through the other issues as well, if you find anything to work on, go ahead. Report and fix any other issues you find too, as @cristianoliveira said.

[2017-10-04 08:46] harsh183 opened #63 "general: add Grace Hopper program"
https://www.gracehopper.com/

Not to  be confused with Grace Hopper Celebration of Women in Computing

[2017-10-04 17:42] harsh183 commented on #6
1. http://www.pbsnow.com/pinnacle-point/top-7-must-attend-conferences-women-technology-2/
2. https://blog.bizzabo.com/women-in-technology-conferences
3. https://www.themuse.com/advice/4-inspiring-conferences-you-need-to-attend-if-youre-a-woman-in-the-tech-industry
4. https://www.witi.com/conferences/2017/summit/
5. http://www.signority.com/blog/top-5-conferences-2017-for-women-in-tech/

Any of the

[2017-10-05 03:08] lidimayra opened #65 "Greece flag not being properly displayed"
### Occurrence 1: in [Conference Talks](https://github.com/cristianoliveira/awesome4girls/#conferencestalks) section
![greece01](https://user-images.githubusercontent.com/8002618/31209328-9d32feb6-a960-11e7-9680-d82aaaba725d.png)

---

### Occurence 2: in [Content](https://github.com/cristianoliveira/awesome4girls/#content) section
![greece02](https://user-images.githubusercontent.com/8002618/3120

[2017-10-05 03:18] harsh183 commented on #65
![image](https://user-images.githubusercontent.com/7780198/31209622-d371a36c-a9a9-11e7-97d2-c9b72115b898.png)
![image](https://user-images.githubusercontent.com/7780198/31209631-ea9c8af2-a9a9-11e7-9c3a-b53a8940a662.png)

This is what it looks on mine, being on Firefox. Let me have a look.

[2017-10-05 03:38] harsh183 commented on #65
Yup, looks like I'm seeing the alt text there.

[2017-10-05 03:45] harsh183 commented on #65
https://github.com/cristianoliveira/awesome4girls/pull/67

[2017-10-05 03:45] harsh183 commented on #65
@lidimayra Thanks for the report.

[2017-10-05 04:01] lidimayra commented on #65
@harsh183 my pleasure! :smile_cat:

[2017-10-05 12:55] #49 closed

[2017-10-05 12:56] #65 closed

[2017-10-06 03:38] #54 closed

[2017-10-06 03:43] harsh183 commented on #5
https://github.com/cristianoliveira/awesome4girls/pull/68

[2017-10-06 17:35] #53 closed

[2017-10-06 17:36] harsh183 commented on #51
I can't find any others, shall we add that section with only this?

[2017-10-06 18:11] cristianoliveira commented on #51
Then I think we should add it in one of the existent sections

[2017-10-07 07:06] harsh183 commented on #51
Okay? Which one do you have in mind?

On Oct 6, 2017 11:41 PM, "Cristian Oliveira" <notifications@github.com>
wrote:

[2017-10-07 14:41] cristianoliveira commented on #33
Yeah not sure if it is needed indeed. I was building just for fun 😅

[2017-10-07 15:14] harsh183 commented on #33
I can relate. It's lying a little stagnant though. Initially I found this repo since it was tagged with Ruby (I'm mainly a Rails guy)

[2017-10-07 15:43] cristianoliveira commented on #51
Maybe add on Academy/Camp as you first suggested but add a flag/title or something saying this project isn't happening anymore, something like Deprecated. What you think?

[2017-10-07 18:06] harsh183 commented on #51
I don't think that'll work. I think having a small section around the bottom with one entry will be fine, and others will add more as time passes.

[2017-10-07 18:07] #5 closed

[2017-10-07 18:16] harsh183 opened #71 "New item: Women Hack for Non-Profits - http://www.womenhackfornonprofits.com/"
http://www.womenhackfornonprofits.com/

1. Write description
2. Place under right category
3. Create commit with new entry in the README.md file
4. Open PR and link to this issue

[2017-10-08 03:35] harsh183 commented on #20
I found a couple, let me know which ones should we add by creating a new essay for each entry.

1. http://www.oracle.com/technetwork/community/women-in-tech/overview/index.html
2. http://www.oracle.com/us/corporate/citizenship/introduction/women-leadership-1886282.html

Not Oracle, but
1. https://www.pwc.com/us/en/about-us/diversity/women-technology.html

[2017-10-08 03:42] harsh183 commented on #10
I think marialab is gone, so point adding it, looks it was last active in 2015.

[2017-10-09 09:43] harsh183 commented on #27
The description from Wikipedia could serve as a starting point:

Mothership HackerMoms is a nonprofit hackerspace/makerspace in Berkeley, California, founded in 2011. It was the first all-women hackerspace.

The 1000-square-foot space provides space for members to work on projects and hold events while their children are onsite with child care. They have participated in DIY culture events such as

[2017-10-10 05:14] swentling87 commented on #63
I'll do it!

[2017-10-10 05:43] swentling87 commented on #71
I'll do this too!

[2017-10-10 10:48] harsh183 commented on #71
I left a comment, once you deal with that I'll merge it :)

[2017-10-10 16:15] hi-hi-ray commented on #28
Hi, Can I be assignee to this issue?

[2017-10-10 16:41] cristianoliveira commented on #28
Hey @hi-hi-ray feel free to start it :)

I am not able to actually sign it to you, cause only "Collaborators" can be assigned to issues :(

[2017-10-10 17:33] hi-hi-ray commented on #28
That's OK!  😺

I'm new in this format of project and i have some questions.

I was exploring the repository,  and realized that has 2 files containing the list of events/projects/initiatives, Can i add the description and Link on the following files:
- Readme.md
- fixtures/Readme.md

If there any other file that i must change, do you mind tell me?

[2017-10-10 17:47] hi-hi-ray commented on #10
Maria Lab Changed the address. https://marialab.org

[2017-10-10 18:05] harsh183 commented on #10
The posts seem to date from 2015, are they still active?

[2017-10-10 18:07] harsh183 commented on #28
Just edit the README.md file. The others you can leave for now. The process is pretty simple, just write a description, add it to the file and make a pull request.

@cristianoliveira Should we rewrite the contribution guide?

[2017-10-10 18:08] hi-hi-ray commented on #28
The contribution guide it's correct, it's just me who is doing a contribution for the first time. :D

[2017-10-10 18:17] harsh183 commented on #28
Haha alright, I was quite confused when I first came here too. Looking forward to seeing you become a regular though.

[2017-10-10 19:41] cristianoliveira commented on #28
Would be really nice!
I thought I had already done for this project? 🤔
So maybe I made it for another 😅

[2017-10-10 19:43] cristianoliveira commented on #28
No its there. https://github.com/cristianoliveira/awesome4girls/blob/master/CONTRIBUTING.md

Maybe we can improove with some explanation steps by step.

@hi-hi-ray don't worry we all be confuse in our firsts PR. We are here to help :)

[2017-10-10 22:26] lightwavefeesh opened #76 "Ada Lovelace Day"
Today is [Ada Lovelace Day](https://findingada.com/). It's an event held on the second Tuesday of October to celebrate women in STEM fields and their achievements, and encourage would-be STEM participants to pursue those fields.

Would this be worth adding to the list?

[2017-10-10 22:47] hi-hi-ray commented on #10
Yes, they are! Mostly participating and doing events. =]

[2017-10-11 15:27] harsh183 commented on #10
Oh alright, would you like to do it? I can't due to the language barrier.

[2017-10-11 15:35] harsh183 commented on #76
I think it fits exactly what we are looking for. Write a description, add it to the README.md and submit a pull request and I'll check it out.

[2017-10-11 15:48] harsh183 commented on #28
I just read it, it's not very clear. I think I'll rewrite it after school tomorrow.

[2017-10-11 16:01] harsh183 commented on #44
@jcserracampos Any luck?

[2017-10-11 16:01] harsh183 commented on #6
@cristianoliveira

[2017-10-11 17:01] harsh183 commented on #44
I think it probably closed. No point adding it.

[2017-10-13 21:48] hi-hi-ray commented on #10
Sure!

[2017-10-13 22:40] hi-hi-ray commented on #44
@jcserracampos You can try contact then on their facebook page. =]

https://www.facebook.com/AnitasFloripa/

[2017-10-14 09:48] harsh183 commented on #44
@hi-hi-ray Great catch! Can you write a description for them?

[2017-10-14 20:54] cristianoliveira commented on #6
Hey @harsh183 that looks great. Some of the projects they listed there we have already added but there are of new also. We could create some issues with them and add the `hacktoberfest` label. WDT?

[2017-10-15 04:37] harsh183 commented on #6
That sounds good, I'm a little busy this weekend, so can you do it?

[2017-10-18 11:50] hi-hi-ray commented on #10
Hey Guys!
I was trying to find a category to place MariaLab, but i don't know which group i can fit them...

Maria Lab actually is a Feminist Hacker Space. The members it's always going to meetups and events to talk about something and sometimes they do some workshops... The most recurrent event it's "Coffee with Maria Lab".

Where I can put then?

[2017-10-18 12:47] deboraazevedo commented on #44
Hello! I know the girls who currently run Anitas, I think I can help :)

[2017-10-18 14:45] #33 closed

[2017-10-18 14:45] #37 closed

[2017-10-18 14:46] cristianoliveira commented on #28
Fixed by #78

[2017-10-18 14:46] #28 closed

[2017-10-18 14:47] cristianoliveira commented on #44
Hey @deboraazevedo Thanks! It will be awesome

[2017-10-18 22:47] ztmeyer commented on #10
Hey all - I took a crack at adding the Minas Program in this PR: https://github.com/cristianoliveira/awesome4girls/pull/80

Happy to make any further changes

[2017-10-19 00:23] hi-hi-ray commented on #27
I can Do it =]

[2017-10-19 05:17] harsh183 commented on #44
@deboraazevedo If you know about people who run any organisations in our list or any others, please add it here. We'd really appreciate it.

[2017-10-19 05:19] harsh183 commented on #27
@hi-hi-ray Great! Let me and @cristianoliveira  know when you submit a PR.

[2017-10-19 07:13] harsh183 commented on #10
@hi-hi-ray I think you can go ahead with Maria Lab, I'll review the final description.

@ztmeyer Thanks for minas program, @hi-hi-ray you don't need to do it, if you have something to add on feel free to do so

[2017-10-19 07:14] harsh183 opened #82 "Table of index links not working"

[2017-10-19 07:50] #82 closed

[2017-10-19 07:57] harsh183 commented on #17
https://github.com/cristianoliveira/awesome4girls/pull/84

[2017-10-20 23:24] hi-hi-ray commented on #27
It's open guys (@harsh183  and @cristianoliveira)!

Pull Request: #85

[2017-10-21 16:11] harsh183 commented on #27
Looks great! I like your contributions on this repo quite a bit.

[2017-10-21 16:11] #27 closed

[2017-10-22 04:09] #17 closed

[2017-10-22 04:09] #10 closed

[2017-10-23 11:26] #71 closed

[2017-10-23 11:26] #63 closed

[2017-10-23 11:32] #76 closed

[2017-10-23 12:10] harsh183 commented on #44
Hey guys, any progress?

[2017-10-23 17:11] harsh183 commented on #56
@cristianoliveira Should we reopen the same issue under the same name so that other people see it and contribute since this one has many commits and PRs to it.

I think we can also add a small section in the README about reporting typos.

[2017-10-24 23:54] deboraazevedo commented on #44
Hey there! I'll finally got some answer from the organizers and I'll be pushing to the repo this week

[2017-10-27 03:22] harsh183 commented on #44
@deboraazevedo Sure! Great to hear. Tag me or @cristianoliveira when you submit a PR.

[2017-10-27 03:25] harsh183 commented on #6
I'm just making a checklist:

The task is to go over these lists and identify entries we can add and ensure that they don't already exist.

- [ ] http://www.pbsnow.com/pinnacle-point/top-7-must-attend-conferences-women-technology-2/
- [ ]  https://blog.bizzabo.com/women-in-technology-conferences
- [ ]https://www.themuse.com/advice/4-inspiring-conferences-you-need-to-attend-if-youre-a-woman-in-the-

[2017-10-27 03:31] harsh183 opened #91 "Feat: Add The Women In Tech Summit"
Their page: http://womenintechsummit.net/

    1. Write description
    2. Place under right category
    3. Create commit with new entry in the README.md file
    4. Open PR and link to this issue

[2017-10-27 03:32] harsh183 opened #92 "Feat: Add fortune most powerful women summit"
Link: http://www.fortuneconferences.com/most-powerful-women-summit-2016/

    1. Write description
    2. Place under right category
    3. Create commit with new entry in the README.md file
    4. Open PR and link to this issue

[2017-10-27 03:34] harsh183 opened #93 "Feat: Add Innotech - women in tech summit"
Link to their website: http://www.innotechconferences.com/dallas/about/women-in-tech-summit

What we have to do:

    1. Write description
    2. Place under right category
    3. Create commit with new entry in the README.md file
    4. Open PR and link to this issue

[2017-10-27 03:35] harsh183 opened #94 "Feat: Add Global Tech women's Annual voices conference"
Link to their website: http://www.globaltechwomen.com/voices-global-conference.html

What you have to do:

    1. Write description
    2. Place under right category
    3. Create commit with new entry in the README.md file
    4. Open PR and link to this issue

[2017-10-27 03:37] harsh183 opened #95 "Feat: Add Channel:Be The Voice Of Change conference"
Site: http://www.thechannelco.com/events/wotcw17/about

What we have to do:

 1. Write description
 2. Place under right category
 3. Create commit with new entry in the README.md file
 4. Open PR and link to this issue

[2017-10-27 03:42] harsh183 commented on #6
I added a few more issues, I'll finish up adding more issues for the other pages later.

[2017-10-27 04:23] ngohgia commented on #95
I can make a PR for this. But isn't this conference named Women of the Channel Summit WEST?

[2017-10-27 10:42] #92 closed

[2017-10-27 10:47] harsh183 commented on #93
https://github.com/cristianoliveira/awesome4girls/pull/97

[2017-10-27 10:47] #93 closed

[2017-10-27 10:49] harsh183 commented on #95
Great catch! I just merged it.

[2017-10-27 12:36] harsh183 opened #99 "Feat: Add - The Girls in Tech Catalyst Conference"
Link: http://catalystsf.girlsintech.org/

What you have to do:

1. Write description
2. Place under right category
3. Create commit with new entry in the README.md file
4. Open PR and link to this issue

[2017-10-27 12:41] harsh183 opened #100 "Feat: Add entry for Wonder Women Tech"
Site: https://wonderwomentech.com/

What we have to do:

1. Write description
2. Place under right category
3. Create commit with new entry in the README.md file
4. Open PR and link to this issue

[2017-10-27 16:47] EggplantPlanter commented on #99
Hi this is my first hacktober, can I take on this request?

[2017-10-27 16:50] harsh183 commented on #99
@EggplantPlanter You are most welcome to :+1:

On a side note, make sure to finish 4 PRs by the end of this month otherwise you won't get a shirt.

Take a look at the existing list on how things are done, and let me know if you have any issues.

[2017-10-27 17:43] #100 closed

[2017-10-27 19:31] cristianoliveira commented on #56
Hey @harsh183 I think would be a good idea. :)

I will close this one. Feel free to open a new one if you think is needed. 👍

[2017-10-27 19:31] #56 closed

[2017-10-27 20:24] #91 closed

[2017-10-28 16:42] #99 closed

[2017-10-28 16:44] #94 closed

[2017-10-29 02:06] harsh183 commented on #6
@cristianoliveira  Can you add issues for the entries on [This blog](https://blog.bizzabo.com/women-in-technology-conferences)

There are quite a few, and since we'll have the most number of contributors in the closing days of hacktoberfest, I think we can use that to our advantage.

[2017-10-29 10:06] cristianoliveira opened #108 "conference: add Watermark Conference for Women"
Add https://www.watermarkconferenceforwomen.org/conference/

[2017-10-29 10:08] cristianoliveira commented on #108
Related to #6

[2017-10-29 10:14] cristianoliveira opened #109 "conference: Add Johnson Women in Technology"
add http://www.johnsonwomenintech.com/ into conference section

Related to #6

[2017-10-29 10:19] cristianoliveira opened #110 "tests: Add specs to enforce project format"
Today we have some specs made on #106 that enforce:
- List order
- Unique links
- Avoid broken links

We would like to enforce the follow format for each project on the list that is:
 - (name)+(link)
(return)
(description)
(return)

I am not totally sure how to achieve this but would be really nice to have :)

[2017-10-29 10:39] cristianoliveira opened #111 "general: Women of Silicon Roundabout"
Add http://www.women-in-technology.com/ with the name Women of Silicon Roundabout under General section

Related to #6

[2017-10-29 11:05] cristianoliveira opened #112 "conferences: We RISE"
add https://werise.tech/ into conferences.

related to #6

[2017-10-29 11:11] cristianoliveira opened #113 "conference: Add Tech up for women"
Add https://corporatelearninghub.com/techupforwomen/ into conferences.

Related to #6

[2017-10-29 11:33] cristianoliveira opened #114 "conference: Add european women in tech"
Add http://www.europeanwomenintech.com/ into conferences.

Related to #6

[2017-10-29 11:37] eshton-martin commented on #109
#115

[2017-10-29 11:46] #109 closed

[2017-10-29 11:48] eshton-martin commented on #112
#116

[2017-10-29 11:54] eshton-martin commented on #113
#117

[2017-10-29 11:59] eshton-martin commented on #108
#118

[2017-10-29 12:32] harsh183 commented on #110
@cristianoliveira I think I'll try this for next week. Does that work?

[2017-10-29 12:34] harsh183 opened #120 "Bug: Make alphabetical order spec be case insensitive."
Let's take the example of this: https://travis-ci.org/cristianoliveira/awesome4girls/builds/294426635?utm_source=github_status&utm_medium=notification

The spec is failing because while it's correct based on ASCII based order, most humans would sort it case insensitively. I think having it case insensitive would be better.

[2017-10-29 12:37] cristianoliveira commented on #120
Good catch!

[2017-10-29 12:57] harsh183 commented on #120
Sure, I'll hold on working on any specs until the contribution guide is complete.

I'm also thinking, since the file will now follow stricter standards why don't we move onto a .yml that stores all the info and a bot autogenerates the file. People can just add an entry to the yml file and we'll not have to worry too much.

Is that too overengineered though? Maybe for a later stage, in any case, th

[2017-10-29 13:20] cristianoliveira commented on #110
Sure. Go for it

[2017-10-29 14:12] #114 closed

[2017-10-29 15:24] #120 closed

[2017-10-29 15:33] harsh183 commented on #6
@cristianoliveira Can we close this issue if you added all those links, people need not to visit old issues with many comments, maybe we can add a suggestions guide on the contribution page instead.

[2017-10-29 16:18] cristianoliveira commented on #6
Sure!

[2017-10-29 16:18] #6 closed

[2017-10-29 16:20] fabricioblz commented on #111
Working on it!

[2017-10-29 17:07] #112 closed

[2017-10-29 17:27] #111 closed

[2017-10-30 08:55] cristianoliveira opened #127 "other lists: Add awesome-diversity"
Add https://github.com/folkswhocode/awesome-diversity under "other lists"

[2017-10-30 09:06] lantran commented on #127
I will work  on it.

[2017-10-30 09:45] lantran commented on #127
I created another PR. Feel free to decline the failed one. Thanks

[2017-10-30 09:57] cristianoliveira commented on #127
Fixed by #129

[2017-10-30 09:57] #127 closed

[2017-10-30 10:38] #113 closed

[2017-10-30 10:39] #51 closed

[2017-10-30 10:40] harsh183 commented on #110
@cristianoliveira How do I run it?

[2017-10-30 10:40] harsh183 commented on #110
Will I be able to just download on my local and run it?

[2017-10-30 11:21] cristianoliveira commented on #110
Using `rake` or `rspec` commands

I hope yes. For testing you will need:
  - Ruby 2.4.2
  - Bundle (gem install bundle)

Then you can run:
[code]

[2017-10-30 14:35] harsh183 commented on #110
Sure, glad to know I don't need anything fancy.

[2017-10-30 14:46] cristianoliveira opened #130 "comunities/groups: Add Oracle WIT Community Group"
Add https://community.oracle.com/groups/otn-women-in-technology/overview into Communities/groups

Related to #20

[2017-11-02 11:59] cristianoliveira opened #137 "javascript: Add http://webschool.io/js4girls/"
Recently I removed the Js4girl project cause their site was not available. Turned out they changed to http://webschool.io/js4girls/

Please add them under javascript section

[2017-11-02 14:46] harsh183 commented on #137
Can you give the old description?

[2017-11-02 14:47] harsh183 commented on #44
@deboraazevedo Any luck?

[2017-11-02 17:26] cristianoliveira commented on #137
Sure here it is:
[code]

[2017-11-02 17:30] harsh183 commented on #137
Sure, it's late here, but I'll get to this one tomorrow (and the specs).

[2017-11-02 17:33] cristianoliveira commented on #137
No worrie man :)

I opened those issues just to not forget. We can add as soon we have some time 🍻

[2017-11-03 03:28] harsh183 commented on #137
I'll trust that description is correct, I don't understand Portuguese, but judging by common words between Spanish the description looks okay.

[2017-11-03 09:21] cristianoliveira commented on #137
If you know Spanish you basically know Portuguese hehehe (not exactly but it's true most of the time) 😆

[2017-11-03 14:01] #137 closed

[2017-11-04 06:17] harsh183 commented on #137
@cristianoliveira Well I've been learning Spanish for a very short time, but I could see a few phrases here and there and many common words

[2017-11-06 00:39] deboraazevedo commented on #44
@harsh183 @cristianoliveira just submitted the pull request!

[2017-11-06 13:16] harsh183 opened #141 "Feat: Add Female Founders Conference"
http://www.femalefoundersconference.org/

[2017-11-08 11:15] #44 closed

[2017-11-09 06:14] harsh183 commented on #20
Shall we close this?

[2017-11-09 06:30] harsh183 opened #142 "Suggestion: Add ticket prices on events"
I think having ticket prices/and other restrictions there in the page. It would help people who are interested and may not be able to afford everything, and checking each can get quite cumbersome, I have a few on file, but we can create issues for each of them.

[2017-11-12 06:35] harsh183 commented on #142
@cristianoliveira

[2017-11-12 08:18] cristianoliveira commented on #142
I am not sure. The problem is that we will need to check if the prices are the same constantly to keep consistency

[2017-11-12 08:37] harsh183 commented on #142
True, it becomes a practicality issue. It can be useful, but it's enormous effort on our ends.

[2018-01-04 13:22] cristianoliveira opened #144 "Fix: change js4girs link to https://github.com/Webschool-io/js4girls"
Running the tests recently I noticed that the website of js4girls isn't up anymore(again). I searched for a more stable alternative and ran into their github repo. So it could be the link for this project.

[2018-01-04 13:22] cristianoliveira commented on #144
I am already working on it :)

[2018-01-04 13:25] cristianoliveira opened #145 "Add: http://www.womenwhohack.co/"
The premise of this project is to provide a meeting between companies who want to hire women and the candidates. It is an invited project but you can request the invite on their website.

It is a good candidate to go into "Jobs" category

[2018-01-04 13:47] #142 closed

[2018-01-04 20:38] #144 closed

[2018-01-04 20:48] harsh183 commented on #144
I'm debating if it's worth having a checker making sure that each link works. What do you think?

[2018-01-04 20:51] cristianoliveira commented on #144
Well, I think it is important because some of then may be broken. In my opinion, a list that provides broken links lose credibility same as any other site :)

[2018-01-04 20:53] #145 closed

[2018-01-08 10:41] #141 closed

[2018-02-12 15:22] britneymorgan opened #148 "Please Add ACT-W National Conference (Advancing the Careers of Technical Women)"
ACT-W National [](http://www.act-w.org/)

Presented by ChickTech, ACT-W National focuses on providing you with inspiring and actionable education in career development, leadership, technology, and diversity.

ACT-W National is an engaging 3-day conference where talented women and supporters in tech can accelerate their career by connecting with organizations and leaders in the community. The confe

[2018-02-13 12:35] cristianoliveira commented on #148
Hey @britneymorgan

Thanks for letting us know :)
We will take a look at it and add it.

[2018-02-15 18:08] palash25 opened #149 "Add WeTech Qualcomm Global Scholars"
https://www.iie.org/Learn/Blog/2016-October-WeTech-Qualcomm-Global-Scholars-Empowering-Next-Generation-Female-STEM-Leaders

[2018-02-18 12:22] cristianoliveira commented on #149
Hey @palash25 Thanks for let we know.
We going to review and include it to the list :D

[2018-02-18 21:06] harsh183 commented on #149
Who should write the content for this?

[2018-03-03 10:46] lnishan commented on #149
+1

I have 2 friends who received this scholarship.

[2018-05-29 05:58] harsh183 opened #151 "Improve description of Rails Girls Summer of Code"
http://railsgirlssummerofcode.org/

[2018-06-01 11:14] harsh183 opened #153 "Add bytehacks 2018"
http://bytehacks.org/

[2018-06-24 14:45] peterhuerlimann opened #154 "Add blackhoodie.re"
Blackhoodie is a free, women only reverse engineering workshop.
Read more: https://www.blackhoodie.re/about/

[2018-06-25 03:18] harsh183 commented on #154
@Peter. would you like to add this?

On Sun, Jun 24, 2018 at 8:15 PM Peter Hürlimann <notifications@github.com>
wrote:

--
Harsh Deep

[2018-06-25 05:05] peterhuerlimann commented on #154
Yes, would like to do so. Does it qualify to be added?

Would it go into category "Academy/Camp"?

[2018-06-28 17:24] cristianoliveira commented on #154
Hey @peterhuerlimann I think so :)

Feel free to fork it and add.

[2018-06-28 19:51] peterhuerlimann commented on #154
Thanks @cristianoliveira !

PR #155 is ready

[2018-06-29 17:00] #154 closed

[2018-10-01 21:25] harsh183 opened #157 "Reopen this repository with hacktober fest related tags"
Last year 2017 was quite successful and the project improved quite significantly with all the contributions coming in from Hacktoberfest. Considering that numbers may be bigger this year I think it's a good idea.

[2018-10-15 02:30] lalaithan opened #158 "XX+UX was rebranded to Hexagon UX in 2017"

[2018-10-29 01:33] fabricioblz commented on #153
https://github.com/cristianoliveira/awesome4girls/pull/160/

[2019-02-26 09:45] mhamilt opened #162 "Suggestion: Ladies Wine and Design"
Not strictly bound to coding, but [Ladies Wine and Design](https://ladieswinedesign.com) seem to do a lot of cross over events that are development based.

[2019-02-27 08:20] harsh183 commented on #162
It is not all coding but I think we should add it.

Since it doesn't too neatly cross over to our categories so I think we can just add another category within Events called `Design` and put this there.

@mhamilt Would you want to add this? Just edit the `README.md` file in the right section and follow the format that other entries have.

[2019-02-27 08:21] #157 closed

[2019-02-27 08:21] #20 closed

[2019-02-27 08:21] #108 closed

[2019-02-27 09:01] cristianoliveira commented on #108
😄

[2019-02-27 09:36] #130 closed

[2019-02-27 09:42] harsh183 commented on #108
Tbh I had kind of forgotten about this, but I got a notification in my email and decided to clean up a little.

[2019-02-27 13:29] mhamilt commented on #162
Of course, will get it done shortly

[2019-02-27 18:13] harsh183 commented on #162
Great. Submit a PR once done and I'll take care of it.

[2019-03-10 09:28] cristianoliveira commented on #158
Hey @lalaithan thanks! It's been changed :)

[2019-03-10 09:28] #158 closed

[2019-03-10 09:29] cristianoliveira commented on #162
The #164 It's been merged containing this :)

[2019-03-10 09:29] #162 closed

[2019-10-01 20:39] cdmackeyfree commented on #151
https://github.com/cristianoliveira/awesome4girls/pull/166

[2019-10-18 04:04] #151 closed

[2019-10-18 04:15] #153 closed

[2019-10-18 04:15] #110 closed

[2021-01-29 05:15] harsh183 opened #176 "Add ReactLadies"
https://github.com/M0nica/React-Ladies

[2021-01-30 02:03] harsh183 opened #177 "Add resources from this Women in Tech page"
https://github.com/nishapant/Women-in-Tech-Resources

Or maybe just link to it. It hasn't been updated in a few years though.

[2021-03-06 20:06] rkraeher commented on #177
Is this issue still available or is this something you were proposing to do yourself @harsh183?

since you mention that repo hasn't been updated for a while, I could comb through their list and find the resources that are current and non-duplicates (I've already found a few) and then put them into the appropriate place in the list here.

[2021-03-06 20:45] harsh183 commented on #177
I would appreciate that so much! @rkraeher

Tag me when you make a Pull Request with this. Don't worry if it's failing due to some old links here but I'll sort that stuff out myself.

[2021-03-07 22:27] rkraeher commented on #177
I have a question:

The contributing doc says that each suggestion should be a separate PR. There are 12 new resources to add to the list here that I've found from the Women-in-Tech-Resources list. Should I do all 12 as separate PRs, separate commits but one PR, or just one commit and PR since we have a record here of where they came from?

Sorry if this is obvious from the docs. I'm new to contri

[2021-03-07 23:59] harsh183 commented on #177
Up to you. I think the repo is a little stale so let's start with a single PR we merge in, and then the rest we can do in one go.

I think since it's been a while some old links might have broken so we definitely have to sort those out as well. Would you be down to help with that?

[2021-03-08 00:37] rkraeher commented on #177
Ok sounds good thanks. Yes, deffly down to help with that. I've already found two that I wrote down. I can open a broken link issue (?) and I'll work on those once I do the PR for these new additions.

[2021-03-08 00:44] harsh183 commented on #177
Sweet. If you check we have some automated tests that checks for a lot of baseline issues (formatting, working link etc.) so you'll just have to fix what it says. You'll be able to access the list once you made a PR and the CI runs those tests.

[2021-03-10 20:49] #177 closed

[2021-03-10 20:51] harsh183 opened #181 "Fix test CI"
There used to be an old thing with Travis but that's not on anymore so we either revive it or move to Github Actions.

[2021-03-10 20:54] harsh183 opened #182 "Add resources from Illinois WCS"
http://wcs.illinois.edu/resources/index.html

Of course we don't have to add everything but relevant stuff will be useful. And we should add UIUC WCS in this list as well. I see some other university WCS clubs over here.

[2021-03-10 20:56] rkraeher commented on #148
ya sure thing

[2021-03-10 21:29] harsh183 commented on #176
Not sure if this is active, but open if it is.

[2021-03-10 21:29] #176 closed

[2021-03-11 08:03] harsh183 opened #183 "Add GirlScript Summer of Code - GGSOC"
https://gssoc.girlscript.tech/

* I think this is India based but has a lot of good sponsors and outreach.
* Seems to have gone on for many years too.

[2021-03-12 03:09] #148 closed

[2021-04-23 20:19] harsh183 opened #185 "Add React Ladies"
https://github.com/M0nica/React-Ladies/issues/55